body {
  background-color: #8ebfe7;
}

header {
  background-color: #59c1bd;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 61%;
  margin: auto;
}

h1 {
  color: #002e94;
  opacity: 1;
}

h2 {
  font-size: 2em;
  margin: auto;
  width: 60%;
  color: #083aa9;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li:nth-child(even) {
  background-color: #d6e4e5;
}

li:nth-child(odd) {
  background-color: whitesmoke;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:hover {
  background-color: #d6e4e5;
  border-radius: 12px;
  border: 2px solid #083aa9;
  transition: 0.5s;
}

.form-class {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 17px;
}

.container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  text-align: center;
  gap: 30px;
  background-color: #59c1bd;
}

.left-container {
  width: 50%;
}

.btn-submit > button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0 0 0;
  width: 20%;
  border-radius: 12px;
  cursor: pointer;
}

.recent-con {
  display: flex;
  padding: 40px 0 0 0;
}

.recent-con > button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 100px 0 0;
  width: 20%;
  border-radius: 12px;
  cursor: pointer;
}

.recent-con > button:hover {
  background-color: #4649ff;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s;
}

.recent-scores {
  text-align: left;
  margin-left: 0;
  border: 2px solid #4649ff;
}

.right-container {
  padding: 40px 0 0 0;
  width: 50%;
}

.btn-submit {
  text-align: right;
}

.btn-submit > button:hover {
  background-color: #4649ff;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s;
}

li:hover {
  background-color: #4649ff;
  color: #fff;
  border: 0.5px solid white;
  transition: 0.5s;
}
