header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  color: orange;
}

h2 {
  font-size: 2em;
  margin: auto;
  width: 60%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li:nth-child(even) {
  background-color: #ccc;
}

.form-class {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 17px;
}

.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
}

.left-container {
  width: 50%;
}

.recent-con {
  display: flex;
  padding: 40px 0 0 0;
}

.recent-con > button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px 100px 0 0;
  width: 20%;
}

.recent-scores {
  text-align: left;
  margin-left: 0;
  border: 1px solid #000;
}

.right-container {
  padding: 40px 0 0 0;
  width: 50%;
}

.btn-submit {
  text-align: right;
}

.btn-submit > button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px 0 0 0;
  width: 20%;
}
